@media only screen
and (max-device-width : 939px) {

	.container {
		width: 96%;
	}

	#centro-distribuicao {
		width: 65%;
		padding: 0.4em 0.1em;
		margin: 0.1em auto;
	}

	#centro-distribuicao img {
		width: 90%;
	}

	#centro-distribuicao figcaption {
		font-size: 0.5em;
	}

	.social {
		top: 13%;
	}

	p {
		padding: 0 5%;
		text-align: justify;
	}

	#familia-pelho {
		width: 45%;
		font-size: 65%;
		margin: 0 0.2em;
		padding: 0.3em 0.1em 0.1em;
	}

	#familia-pelho img {
		width: 97%;
	}

	figcaption {
		margin-top: 0.1em;
	}

	#logo {
		display: block;
		margin: 0 auto;
	}

	h1 {
		font-size: 150%; 
	}

}

@media (max-width : 733px) {

	footer p {
		position: absolute;
    		top: 40%;
    		left: 30%;
	}

}

@media (max-width : 600px) {

	footer p {
		position: absolute;
    		left: 25%;
	}

}

@media (max-width : 520px) {

	footer p {
		font-size: 59%;
	}

}

@media (max-width : 450px) {

	.social a {
		height: 27px;
		width: 27px;
	}

	footer p {
		left: 16%;
		font-size: 75%;
	}
}

@media (max-width : 419px) {

	footer p {
		left: 16%;
		font-size: 59%;
	}
}

@media (max-width : 373px) {

	footer p {
		left: 17%;
		font-size: 49%;
	}
}

@media (max-width : 330px) {

	footer p {
		left: 9%;
	}
}