@media (max-width: 939px) {
	.container {
		width: 96%;
	}

	#centro-distribuicao {
		width: 65%;
		padding: 0.4em 0.1em;
		margin: 0.1em auto;
	}

	#centro-distribuicao img {
		width: 90%;
	}

	#centro-distribuicao figcaption {
		font-size: 0.5em;
	}
	
	footer p {
		font-size: 35%;
		position: absolute;
			top: 56%;
			left: 31%;
	}

	footer img {
		width: 20%;
	}

	p {
		padding: 0 5%;
		text-align: justify;
	}

	#familia-pelho {
		width: 45%;
		font-size: 65%;
		margin: 0 0.2em;
		padding: 0.3em 0.1em 0.1em;
	}

	#familia-pelho img {
		width: 97%;
	}

	figcaption {
		margin-top: 0.1em;
	}

	#logo {
		display: block;
		margin: 0 auto;
	}

	h1 {
		font-size: 150%; 
	}

	.social {
		position: absolute;
			top: -29%;
			right: -3%;
	}
}

@media (max-width: 640px) {

	footer p {
		font-size: 80%;
		position: absolute;
			top: 10%;
			left: 31%;
	}
	
}

@media (max-width: 384px) {


}

@media (max-width: 360px) {

	.social a {
    	height: 19px;
		width: 19px;
	}

	.social {
		position: absolute;
    		top: -50%;
	}

	footer p {
		font-size: 45%;
		position: absolute;
			top:10%;
			left:25%;
	}
}

@media (max-width: 320px) {

	.social a {
    	height: 18px;
		width: 18px;
	}
}